@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}


.bottom {
    position: absolute;
    bottom: 0; /* set the bottom to 0*/
    left: 0;
    right: 0;
  }

  .error {
    background-color: #f12b2b;
    padding: 20px;
    border-radius: 5px;

}

.ok {
  background-color: #77d161;
  padding: 20px;
  border-radius: 5px;
}

.card {
  width: 300px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.bg-custom {
  background-color: #16a085; /* Tvoje vybraná barva */
}

.i{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
  background-color: #16a085;
}






.flip-card.container{
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
}


.flip-card {
  display: inline-block; /* Umístění karet vedle sebe */
  position: relative;
  align-self: center;
  background-color: transparent;
  width: 150px;
  height: 200px;
  
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background: rgb(20, 151, 60);
  color: black;
  border-radius: 15px;
  word-wrap: break-word;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  border-radius: 15px;
  word-wrap: break-word;
  transform: rotateY(180deg);
}

.flip-card h1 {
  font-size: 24px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}







.card-item {
  background-color: rgb(116, 204, 255);
  border-radius: 15px;
  height: 223px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; /* Mezera mezi kartami */
  display: inline-block; /* Umístění karet vedle sebe */
  position: relative;
  align-items: left;
}

.main{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: #0a157e;
  color: white;
  left: 10px;
  border: 5px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 10px -15px  #12876f;
}





.xd1{
  /*background-color: rgb(198, 255, 215);*/
  background-image: url('../fotos/bg-picture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.login{
  background-image: url('../fotos/login.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.set{
  background-image: url('../fotos/card-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-box{
  background-color: rgb(116, 204, 255);
  /*margin-left: 300px;
  margin-right: 300px;
*/
  margin-left: 15vw;
  margin-right: 15vw;

  margin-bottom: 100px;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 15px 20px #0a157e;
}




.main-sm{
  font-family: 'Courier New', Courier, monospace;
  background-color: #0a157e;
  color: white;
  left: 10px;
  border: 5px;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 100px;
  box-shadow: 2px -3px  #12876f;
  text-align: center;
  
}



.bg-box-sm{
  background-color: rgb(116, 204, 255);
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  /*margin-right: 1300px;*/
  margin-right: 50vw;
 
  padding-left: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-top: 25px;
  border-radius: 15px;
  box-shadow: 5px 10px #0a157e;
}
/*

pozn. Původní myšlenka přes pixely, pak nápad, že relativní hodnoty budou lepší... vw je relativní jednotka (procento) z dané šířky obrazovky, tudíž 15% z 2000px monitoru je logicky 
víc a udělá to větší okraj než 15% z 600px obrazovky...

@media only screen and (max-width: 1575px) {
  .bg-box {
    margin-left: 50px;
  margin-right: 50px;
  }
  .bg-box-sm{
    margin-right: 100px; 
  }
  .main-sm{
    margin-right: 150px;
  }
}

*/
